<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>

  <link rel="stylesheet" href="<%= root %>/resource/lib/github-markdown.min.css" />
  <link rel="stylesheet" href="<%= root %>/resource/style.css" />
  <link rel="stylesheet" href="<%= root %>/resource/lib/highlight/default.min.css" />
  <script src="<%= root %>/resource/lib/highlight/highlight.min.js"></script>
  <script src="<%= root %>/resource/lib/jquery.min.js"></script>
  <script src="//unpkg.com/viewerjs@1.10.4/dist/viewer.min.js"></script>
  <script src="//unpkg.com/jquery-viewer@1.0.1/dist/jquery-viewer.min.js"></script>
  <link rel="stylesheet" href="//unpkg.com/viewerjs@1.10.4/dist/viewer.min.css" />

  <link rel="manifest" href="<%= root %>/manifest.json" />
  <link rel="shortcut icon" type="image/x-icon" href="<%= favicon %>" />
  <link rel="bookmark" type="image/x-icon" href="<%= favicon %>" />
  <link rel="apple-touch-icon" href="<%= favicon %>" />

  <!-- 编译时间：<%- new Date().toLocaleString() %> -->

  <script>
    window.root = '<%= root %>';
    hljs.highlightAll();
  </script>

  <script src="<%= root %>/resource/script.js"></script>
</head>
