<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>

  <!-- styles -->
  <link rel="stylesheet" href="<%= root %>/resource/lib/github-markdown.min.css" />
  <link rel="stylesheet" href="<%= root %>/resource/style.css" />
  <link rel="stylesheet" href="<%= root %>/resource/lib/highlight.default.min.css" />
  <link rel="stylesheet" href="<%= root %>/resource/lib/viewerjs-1.10.5/viewer.min.css" />

  <!-- scripts -->
  <script src="<%= root %>/resource/lib/jquery.min.js"></script>

  <!-- PWA support -->
  <link rel="manifest" href="<%= root %>/manifest.json" />
  <link rel="shortcut icon" type="image/x-icon" href="<%= root %>/resource/favicon.ico" />
  <link rel="bookmark" type="image/x-icon" href="<%= root %>/resource/favicon.ico" />
  <link rel="apple-touch-icon" href="<%= root %>/resource/favicon.ico" />

  <!-- 编译时间：<%- new Date().toLocaleString() %> -->

  <script>
    window.root = '<%= root %>';

    // 提前把搜索数据库载入内存
    fetch(`${window.root}/dir_tree.json`)
            .then(function (res) {
              return res.json();
            })
            .then(function (res) {
              window.__doc_builder_dir_tree__ = res;
            });
  </script>
</head>
