<!DOCTYPE html>
<html lang="zh-cn">
  <%- include('./head', { title: basename ? (title + ' - ' + basename) : title, favicon: favicon, root: root }); %>
  <body>
    <ul class="menu" id="menu">
      <%- menuHtml %>

      <li id="index.md" class="children about">
        <a href="<%= root %>/">关于</a>
      </li>
    </ul>
    <div class="mobile_menu" id="mobile_menu">
      <img src="https://cdn.jsdelivr.net/gh/FortAwesome/font-awesome/svgs/solid/bars.svg" alt="" />
    </div>
    <div class="content markdown-body"><%- html %></div>
    <% if (tocHtml) { %>
    <div class="table-of-contents"><%- tocHtml %></div>
    <% } %>
  </body>
</html>
