<!DOCTYPE html>
<html lang="zh-cn">
  <%- include('./head', { title: basename ? (title + ' - ' + basename) : title, root: root }); %>
  <body>
    <ul class="menu expand" id="menu">
      <div class="loading">
        <span>加载中...</span>
      </div>
      <div class="search_bar" id="search_bar">
        <input type="text" placeholder="search..." />
        <img
          class="clear"
          id="clear"
          src="<%= root %>/resource/icons/circle-xmark.svg"
          alt=""
        />
        <div class="search_result" id="search_result"></div>
      </div>
      <%- menuHtml %>
      <li id="index.md" class="children about">
        <a href="<%= root %>/">关于</a>
      </li>
    </ul>
    <div class="drager" id="drager">
      <div class="switcher btn" id="switcher" title="展开或收起"></div>
      <div class="expand-all btn" id="expand-all" title="展开所有"></div>
      <div class="collapse-all btn" id="collapse-all" title="收起所有"></div>
    </div>
    <div class="mobile_menu" id="mobile_menu">
      <img src="<%= root %>/resource/icons/bars.svg" alt="" />
    </div>
    <div class="content markdown-body">
      <%- html %>
      <% if (tocHtml) { %>
        <div class="btt withToc" id="btt"></div>
      <% } else { %>
        <div class="btt" id="btt"></div>
      <% } %>
    </div>
    <% if (tocHtml) { %>
    <div class="table-of-contents"><%- tocHtml %></div>
    <% } %>

    <!-- bottom scripts -->
    <script src="<%= root %>/resource/lib/mark.js-8.11.1/jquery.mark.min.js"></script>
    <script src="<%= root %>/resource/lib/viewerjs-1.10.5/viewer.min.js"></script>
    <script src="<%= root %>/resource/lib/jquery-viewer-1.0.1/jquery-viewer.min.js"></script>
    <script src="<%= root %>/resource/script.js"></script>
  </body>
</html>
